<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <appSettings>
    <add key="ConsoleFontPath" value="K:\cloud_Developer\kunu247_CSharp\dotNET_Framework\Console\console_App\CRUD_ConsoleApp\Kali-Enterprises\console_CRUD-App\ConsoleCRUDapp\Utilities\JetBrainsMono-2.304\fonts\ttf\JetBrainsMono-Medium.ttf"/>
    <add key="ConsoleFontName" value="JetBrains Mono Medium"/>
  </appSettings>
</configuration>